SPRING_PROFILES_ACTIVE=prod
COMPOSE_ENV_FILE=.env.prod
SERVER_PORT=8080

DB_URL=jdbc:postgresql://<host>:5432/<db_name>
DB_NAME=<db_name>
DB_USERNAME=<db_user>
DB_PASSWORD=<db_password>

DDL_AUTO=update
APP_URL=http://136.116.64.6:8080
CORS_ALLOWED_ORIGIN_PATTERNS=http://136.116.64.6:*,https://136.116.64.6:*

JWT_PRIVATE_KEY_PATH=/run/secrets/jwt_private_key.pem
JWT_PUBLIC_KEY_PATH=/run/secrets/jwt_public_key.pem

ACCESS_TOKEN_EXPIRATION=86400000
REFRESH_TOKEN_EXPIRATION=604800000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=<smtp_username>
MAIL_PASSWORD=<smtp_password>
MAIL_CONNECTION_TIMEOUT=30000
MAIL_TIMEOUT=30000
MAIL_WRITE_TIMEOUT=30000
